<div class="banner  banner-5 ng-scope sector-banner">

    <div class="container">
      <h1><span>THE SECTORS</span></h1>
  
    </div>
  </div>
  
  
  
  <div class="container main-block">
    <div class="col-sm-12 main-contant">
      
  
      <div class="col-sm-12 sector-section" id="SectorHealth">
  
        <div>
  
          <div class="col-sm-4"id="Healthcare-image ">
            <div class="sector-title text-center visible-xs">
              <h2><span>Healthcare</span></h2>
              <div class="clear-both"></div>
            </div>
            <div class="sector-img">
              <img width="683" height="582" src="assets/image/healtcare-sectors-main-page1.jpg" class="img-thumbnail" alt=""sizes="(max-width: 683px) 100vw, 683px">
            </div>
          </div>
          <div class="col-sm-8"id="Healthcare-contant ">
            <div class="sector-contant">
              <div class="sector-title  hidden-xs">
                <h2><span>Healthcare</span></h2>
                <div class="clear-both"></div>
              </div>
              <p>
              <span>
                In healthcare sector, special attention & focus is laid on the neatness and also germ-free fabrics, which are to be used by the physicians nurses and other helping staff with the right kind of fabric to the right choices of colours with the appreciate requirements in the styling	of garments for easy and convenient usage we pay a sharp eye on all..
              </span>
              </p>
            </div>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>  
    </div>
  </div>
  