<div class="banner  banner-5 ng-scope sector-banner">

    <div class="container">
      <h1><span>THE SECTORS</span></h1>
  
    </div>
  </div>
  
  
  
  <div class="container main-block">
    <div class="col-sm-12 main-contant">
      
  
      <div class="col-sm-12 sector-section"  id="SectorHosp">
  
        <div>
          <div class="col-sm-8" id="Hospitality-contant">
            <div class="sector-contant">
              <div class="sector-title hidden-xs">
                <h2><span>Hospitality</span></h2>
                <div class="clear-both"></div>
              </div>
              <p>
              <span>
                Perfectly groomed, nice tailored uniforms neat and less maintenance for your skilled hospitality department…the search ends here .Your employees are a part of your esteemed team and how they are to be presented leaves a forever mark. They should be moving in proper comfortable uniforms which will leave a pleasing and satisfying effect on your customer..
              </span>
              </p>
            </div>
          </div>
          <div class="col-sm-4" id="Hospitality-image">
            <div class="sector-title text-center visible-xs">
              <h2><span>Hospitality</span></h2>
              <div class="clear-both"></div>
            </div>
            <div class="sector-img">
              <img width="683" height="582" src="assets/image/hospitality-sectors-main-page1.jpg" class="img-thumbnail" alt="" sizes="(max-width: 683px) 100vw, 683px">
            </div>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
  
     
  
    </div>
  </div>
  