<div class="banner banner5">
  <div class="container">
     <h2><span>Uniform Guide</span></h2>
  </div>
</div>



<div class="container">
  <div class="col-sm-12 main-contant">
  <div class=" table-responsive">
      <table class="table guide-table">
          <thead>
              <tr>         
                  <th>School</th>
                  <th>Location</th>
                  <th>Uniform Guide </th>
                  <th> Order Form (Girls)</th>
                  <th>Order Form (Boys)</th>
              </tr>
          </thead>
          <tbody>
              <tr >
                  <td>Indian Internation School(IIS)</td>
                  <td>Dubai</td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
              </tr>
          </tbody>
           <tbody>
              <tr >
                  <td>Indian Internation School(IIS)</td>
                  <td>Dubai</td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
                  <td><a href="pdf_files/sample.pdf" class="download-pdf" download>Download</a></td>
              </tr>
          </tbody>
      </table>
  </div>
 </div>
</div>
