.otp-box {
    padding: 50px 0px;
    overflow: hidden;
    margin: 0 auto;
}
.otp-box button.mat-button {
    background-color: #a96209;
    color: #fff;
    width: 200px;
    border-radius: 0px;
}
.otp-box .resend-box {
    display: block;
    padding: 14px 0px;
}
.otp-box .register1_container h3{
	font-size:23px;
}
.otp-box .txt-box{
	padding: 16px;
}
/*=======banner-size=======*/
.banner {
    min-height: 230px!important;
    padding-top: 4em !important;
    text-align: left;
    color: #fff;
    padding-right: 94px;
    
}
.banner h1 {
    font-size: 41px;
    background-color: #00000082;
    display: inline-block;
    padding: 21px;
    text-transform: uppercase;
}
.main-block{
	padding:40px 0px 0px;
}
.main-block .sector-title h2 {
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a20016;
    padding-bottom: 20px;
}
.main-block .sector-contant p{
    text-align: justify;
    line-height: 28px;
    letter-spacing: 0.2px;
}
/*========about us============*/
.team {
    padding: 30px 0px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 8px #ccc;
}
.team .sector-title.text-center h2 {
    padding-bottom: 12px;
}
.grid-4 .team-grid {
    background-color: #fff;
}
.team-circle-box {
	width: 100%;
    overflow: hidden;
    padding: 22px;
}
/*========contact us=======*/
.contact-form input {
    border-radius: 0px;
    background-color: #fbfbfb;
    border-color: #eae7e7;
    box-shadow: none;
}
.contact-form select {
    border-radius: 0px;
    background-color: #fbfbfb;
    border-color: #eae7e7;
    box-shadow: none;
}
.contact-form textarea {
    border-radius: 0px;
    background-color: #fbfbfb;
    border-color: #eae7e7;
    box-shadow: none;
}
.contact-form .btn {
    border-radius: 0px;
    border-radius: 0px !important;
    font-size: 15px !important;
}
.contact-block1 h2 {
    background: #ae3418;
    padding: 10px;
    border-radius: 1px;
    color: #f1f1f1;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
/*========home page==============*/
.home-slide-box {
    margin-bottom: 34px;
	border-bottom: 1px solid #ccc;
}
.home-slide-box .parvinder{
	padding-bottom: 16px;
	
}
.home-slide-box .home-heading3 {
    width: 250px;
    color: #ae3418;
    padding: 10px;
    font-weight: 600;
    border-bottom: 4px solid;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
}
.home-slide-box .slide {
    width: 180px !important;
    border: 1px solid #ccc;
    text-align: -webkit-center;
    padding: 8px;
	margin-right: 10px;
	box-shadow: 1px 2px 8px #ccc;
}
.home-slide-box .slick-slide img {
    display: block;
    outline:none;
    height: 120px!important;
}
.home-slide-box .slick-slide a:focus{
    outline: none;
  }
.home-slide-box .ng-star-inserted{
    position: absolute;
    margin-top: 0px!important;
    
}
.slick-next {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    border: 1px solid #ae3418!important;
    right: 7px!important;
	z-index:1111;
}
.slick-prev:before, .slick-next:before {
    
    font-size: 16px!important;
    line-height: 1;
    color: #ae3418!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
     width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
	left: 7px!important;
    border: 1px solid #ae3418!important;
    z-index:1111;
}
.form-btn button, .form-btn a {
    
    margin-bottom: 0px!important;
}


/*========home sign up  ========*/
.model-detail-form .modal-header {
    min-height: 16.42857143px;
    padding: 9px 10px;
    border-bottom: 1px solid #97845a;
    color: #fff;
    background-color: #97845a;
}
.model-detail-form.modal-header .close {
    margin-top: 2px;
    }
.model-detail-form .modal-header .modal-title{
    text-align: center;
    font-size: 23px;
  
    text-transform: uppercase;
   }
 .model-detail-form .close {
    float: right;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    opacity: 1;
}
.model-detail-form .close:focus {
    outline:none;
}
.model-detail-form .modal-body {
    position: relative;
    padding: 15px;
    overflow: hidden;
}
.model-detail-form .mat-input-element {
    box-shadow: none;
}
.model-detail-form .form-btn a {
    display: block;
    font-size: 14px;
    padding: 6px;
	margin-bottom:4px;
}
.model-detail-form .modal-footer {
    padding: 15px 29px;
    text-align: right;
    background: none;
    border: none;
}
.model-detail-form .register1_container{
    padding: 0px 0px 16px;
  }
 .model-detail-form .btn-dismiss{
	 background: #ccc;
  }
  a:focus{
	  outline:none;
  }
 /*===============registation2==========*/
 .btn-box{
	border-radius: 0px !important;
    font-size: 15px !important;
	
 }
 .btn-box:focus{
	outline: none!important;
    }
 
 .registration1-block{
	 padding:40px 0px;
	 overflow: hidden;
 }
 .final-reg-block{
	border: 1px solid #ccc;
    margin-bottom: 36px;
	padding:12px;
    box-shadow: 1px 2px 9px #ccc;
	}
.mg-btm{
	margin-bottom:15px;
}
.form-block input {
    border-radius: 0px;
    background-color: #fbfbfb;
    border-color: #eae7e7;
    box-shadow: none;
}
.form-block select {
    border-radius: 0px;
    background-color: #fbfbfb;
    border-color: #eae7e7;
    box-shadow: none;
}
/*======payment============*/
.order-summary {
    border: 1px solid #ccc;
    border-radius: 0px!important; 
    padding-bottom: 20px;
}
.place-btn {
	width: 217px;
    background-color: #ae3418!important;
    border-radius: inherit;
}
.place-btn:focus {
	outline:none!important;
}
.cart-top-title {
    text-transform: uppercase;
    margin-bottom: 30px!important;
}

.order-summary{
	border: 1px solid #ccc;
    box-shadow: 1px 2px 9px #ccc;
}
.table-row h5 {
   
    line-height: 17px;
    padding: 4px 0px;
    margin: 0px;
}
.table-row h3 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
/*==========view-product=====*/
.product-filter button {
    background: none!important;
  }
 .product-filter button:focus {
    outline: none!important;
  }
  .product-filter button:hover {
    background: #c57805!important;
    color: #fff;
    border-radius: inherit;
  }
.product-filter li.active {
    background: #c57805;
    color: #fff;
    border-radius: inherit;
}
.product-filter li:hover {
    background: #c57805 !important;
    color: #fff;
    border-radius: inherit;
}
/*=========profile section=========*/
.profile-section {
    box-shadow: 0px 3px 5px #aaa;
    padding: 15px;
    margin-bottom: 30px;
    background: #f5f4f4!important;
}
.profile-header {
    padding: 0px;
    background: #ae3418!important;
    color: #fff!important;
}
.profile-header h3 {
    
    margin: 0px;
    text-transform: uppercase;
    font-size: 20px;
}
.proright-title .glyphicon-pencil {
    color: #ffffff!important;
	  -webkit-font-smoothing: antialiased;
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    transform: rotate(125deg);
    -moz-osx-font-smoothing: grayscale;
}

.mg-top{
	margin-top:20px;
}
.table-field-box tr{
	width:100%;
}
.table-field-box tr .std1{
	width:18%;
}
.table-field-box tr .std1:nth-child(2n){
	width:45%;
}
.table-field-box tr .std1:nth-child(3n),.table-field-box tr .std1:nth-child(4n), .table-field-box tr .std1:nth-child(5n){
	width:15%;
}
.order-pd {
    margin-right: 18px;
}
/*==========footer========*/
.footer-nav {
    margin-bottom: 0px!important;
    padding: 12px 0px;
    text-align: center;
}
.copyright-center.footer-nav p {
    color: #ccc;
}



/*============= wizard==============*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
