<div class="container main-block">
  <div class="col-sm-12 main-contant">
      <!-- <ul class="breadcrumb">
          <li class="completed"><a href="javascript:void(0);">Parents Details</a></li>
          <li class="completed"><a href="javascript:void(0);">Student Details</a></li>
          <li class="completed"><a href="javascript:void(0);">Confirm Details</a></li>
          <li class="completed"><a href="javascript:void(0);">Completed</a></li>
      </ul> -->
  <div class="row registration-form">
      <div class="col-sm-12 success-regi">
          <h2>Success, All Details Completed</h2>
          <i class="fa fa-check"></i>
          <h4>Dear, {{username}}</h4>
          <p>Welcome in impulse wave uniforms.
              </p>
      </div>
      <div class="col-sm-12 form-btn">
          <a (click)="productpage()" class=" btn-box btn btn-primary">Start Shopping</a>
      </div>
  </div>
</div>
</div>
