<div class="container main-block">
  <div class="main-contant">
  	<div class="col-sm-12 order-placed">
  		<h2><strong>Order ID: </strong>{{orderid}}</h2>
  		<h4><span class="glyphicon glyphicon-ok"></span></h4>
  		<p><strong>Hi, {{userdata.first_name}}</strong></p>
  		<p>Your Order Has Been Successfully Placed</p>
  		<div class="text-center"><br>
  			<button class="btn btn-primary" (click)="continueshoping()" class="btn btn-primary btn-box order-pd">Continue Shopping</button>
  			<button class="btn btn-primary" (click)="trackorder()" class="btn btn-primary btn-box">Track Order</button>
  		</div>
  	</div>
  </div> 
</div>

<script>

</script>