<div class="banner  banner-5 ng-scope sector-banner">

    <div class="container">
      <h1><span>Fabrics Component</span></h1>
  
    </div>
  </div>


<div class="col-sm-12 sector-section spoke-section">
    <div class="container main-block">
   <div class="sector-section">
        <div class="col-sm-4"id="fabrics-image">
                <div class="sector-img">
                    <img src="assets/image/fabric.jpg" class="img-thumbnail" alt="">
                </div>
        </div>
    <div class="col-sm-8" id="fabrics-contant">
        <div class="sector-contant">
        <div class="sector-title ">
            <h2><span>Fabrics</span></h2>
            <div class="clear-both"></div>
        </div>
            <p>
                <span>
                    A fabric is the heart of the garment, and we are known to be the masters in this field. With an experience of over 150 years in serving the people of the nation & abroad, we feel immense proud to serve all. Our best and most competitive prices super specialists’ team, and a very wide selection range of most comfortable and skin friendly fabrics will guarantee you satisfaction.
                </span>
            </p>
        </div>
    </div>
    </div>
    </div>
    </div>