<div class="banner  banner-5 ng-scope sector-banner">

    <div class="container">
      <h1><span>THE SECTORS</span></h1>
  
    </div>
  </div>
  
  
  
  <div class="container main-block">
    <div class="col-sm-12 main-contant">
      
  
      <div class="col-sm-12 sector-section"  id="SectorAvi">
  
        <div>
          <div class="col-sm-8" id="Aviation-contant">
            <div class="sector-contant">
              <div class="sector-title hidden-xs">
                <h2><span>Aviation</span></h2>
                <div class="clear-both"></div>
              </div>
              <p>
              <span>
              One of the most prestigious and fast growing sector is aviation. People connected with this department are the ones who are most concerned about their uniforms.We are well aware and competent enough to meet the most stylish, comfortable and perfect looking demands of the airline members. A perfectly groomed pilot, neatly and smartly dressed cabin crew members speaks volume of their company. Recognizing the latest trends,daily routine requirements we serve the in this area..
              </span>
              </p>
            </div>
          </div>
          <div class="col-sm-4" id="Aviation-image">
            <div class="sector-title text-center visible-xs">
              <h2><span>Aviation</span></h2>
              <div class="clear-both"></div>
            </div>
            <div class="sector-img">
              <img width="683" height="582" src="assets/image/aviation-sectors-main-page1.jpg" class="img-thumbnail" alt="" sizes="(max-width: 683px) 100vw, 683px">
            </div>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
  
  
      
  
    </div>
  </div>
  